[color]
	ui = auto
[user]
	name = drabinowitz
	email = dmitrirabinowitz+development@gmail.com
[core]
	editor = vim
	excludesfile = /home/dmitri/.gitignore_global
	autocrlf = input
[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[rerere]
	enabled = true
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
